* {
    margin: 0px;
    padding: 0px;
    color: white;
}

body {
    text-align: center;
    background-image: url("../img/Pellicule_35_mm_perforations_Edison.JPG");
    background-attachment: fixed;
    background-size: cover;
}

header {
    padding: 1vh;
    margin-bottom: 2vh;
    display: flex;
    width: auto;
    height: 8vh;
    text-align: center;
    line-height: 6vh;
    justify-content: space-around;
}

header h1 {
    padding-left: 1vw;
    padding-right: 1vw;
    height: 6vh;
    max-width: 50vw;
}

header h1 a {
    text-decoration: none;
}

header h2 {
    height: 6vh;
    padding: 0vh;
    margin: 0vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    font-size: 1.4em;
}

header h2 a {
    text-decoration: none;
}

header form {
    margin: 0vh;
    width: 40vw;
    height: 5vh;
    text-align: center;
}

header form input {
    height: 5vh;
    border: crimson solid 0.5vh;
    border-radius: 6px;
    box-shadow: rgb(29, 29, 29) 3px 3px 3px;
}

header button {
    width: 20%;
    height: 5vh;
    color: rgb(29, 29, 29);
    background-color: gold;
    border-color: crimson;
    box-shadow: rgb(29, 29, 29) 3px 3px 3px;
}

.alert {
    color: crimson;
    font-size: 1.5em;
    font-weight: bold;
}

section {
    padding: 1vh;
}

.movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movies-list a {
    padding: 3vh;
    display: block;
    width: 240px;
    height: 350px;
    text-decoration: none;
    overflow: hidden;
}

.movies-list a img {
    height: 85%;
}

.movies-list a img:hover {
    border-color: gold;
}

.movie-detail {
    display: flex;
}

.movie-detail h2 {
    border-radius: 0vw;
}

.movie-detail h3 {
    margin-top: 10px;
}

.movie-detail a {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0.5em;
}

h1 {
    padding: 1vh;
    font-size: 2.5em;
    text-shadow: black 5px 5px 5px;
    background-color: crimson;
    border: royalblue solid 0.5vh;
    border-radius: 2vw;
    box-shadow: black 5px 5px 5px;
}

.col h2 {
    font-size: 1.5em;
}

h2 {
    width: auto;
    padding: 2vh;
    margin: 2vh;
    font-size: 2em;
    background-color: royalblue;
    border: crimson solid 0.5vh;
    border-radius: 2vw;
    box-shadow: black 5px 5px 5px;
}

h3 {
    color: gold;
    padding: 0.5vh;
    margin: 0.6vh;
    font-size: 1.5em;
    text-shadow: 0 0 0.4em black, 0 0 0.4em black, 0 0 0.4em black;
}

section h3 {
    height: 8vh;
    padding: 0vh;
    padding-bottom: 2vh;
    font-size: 1.3em;
}

a h3 {
    color: gold;
    height: 15%;
    padding: 0vh;
    margin-bottom: 0vh;
}

h4 {
    color: gold;
    padding: 0.5vh;
    margin: 0.6vh;
    text-align: center;
    font-size: 2em;
    text-shadow: 0 0 0.4em black, 0 0 0.4em black, 0 0 0.4em black;
}

section h4 a {
    margin: 0vw;
    padding: 0vw;
}

p {
    font-size: 2em;
}

.movie-detail {
    width: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.movie-details p {
    font-size: 1em;
}

p a {
    font-size: 0.5em;
}

img {
    border: crimson solid 1vh;
    box-shadow: black 5px 5px 5px;
}

.left-col img {
    margin-bottom: 2vh;
}

.left-col {
    width: 40vw;
    padding-left: 2vw;
}

.col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col h2 {
    width: 65vw;
    line-height: 5vh;
    height: 10vh;
    overflow-y: auto;
}

.movie-details {
    width: 30vw;
}

iframe {
    width: 30vw;
    margin-bottom: 12vh;
    border: crimson solid 1vh;
    box-shadow: black 5px 5px 5px;
}

.container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: fit-content;
    padding-top: 1vh;
    margin-top: 1vh;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.3);
}

.content {
    width: 90vw;
}

.content p {
    margin-top: 5vh;
    margin-left: 10vw;
    margin-bottom: 3vh;
}

.badge {
    margin: 1vh;
    line-height: 5vh;
    font-size: 1.3em;
    color: gold;
    background-color: crimson;
    width: 20vh;
    height: 5vh;
    border: black solid 0.5vh;
    border-radius: 2vw;
    box-shadow: rgb(29, 29, 29) 3px 3px 3px;
}

form {
    margin-top: 3vw;
    margin-left: 15vw;
    width: 50vw;
    text-align: right;
}

.item {
    width: auto;
    height: 25%;
    font-size: 2em;
    margin-bottom: 1.5vh;
}

label {
    width: 40%;
    height: 60%;
}

input {
    width: 60%;
    height: 60%;
    text-align: center;
    font-size: 0.8em;
    color: black;
    overflow: hidden;
}

button {
    width: 10vw;
    height: 6vh;
    margin-bottom: 3vh;
    font-size: 1.5em;
    background-color: royalblue;
    border-radius: 1vh;
    box-shadow: black 1vh 1vh 1vh;
}