header.conteneur {
    display: none;
}

nav {
    display: none;
}

main {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    animation-name: warning;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}

@keyframes warning {
    from {
        background-color: rgba(255, 0, 0, 0.7);
    }
    to {
        background-color: rgba(255, 0, 0, 0.4);
    }
}

.flash {
    background-color: red;
    box-shadow: 0 0 1vw red, 0 0 2vw red, 0em 0em 3vw red;
    animation-name: flashlight;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}

a {
    color: white;
}

@keyframes flashlight {
    from {
        width: 2vw;
        height: 3vw;
        border-radius: 1.5vw;
        box-shadow: 0 0 1vw red, 0 0 3vw red, 0em 0em 5vw red;
    }
    to {
        width: 1vw;
        height: 1vw;
        border-radius: 0.5vw;
        box-shadow: 0 0 1vw red, 0 0 2vw red, 0em 0em 3vw red;
    }
}