* {
    margin: 0px;
    padding: 0px;
    color: darkblue;
}

.conteneur {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

body {
    background-image: url('../images/datacenter-tech.jpg');
    background-attachment: fixed;
    background-size: cover;
}

header {
    position: fixed;
    top: 0vh;
    font-size: 0.8em;
    height: 8vh;
    width: 100vw;
    background-color: rgba(0, 0, 139, 0.7);
}

.lang {
    position: fixed;
    top: 0vh;
    right: 0vw;
    width: 70px;
    height: 8vh;
    display: inline-block;
}

input[name="lang"] {
    display: none;
}

.lang-radio {
    margin-top: 5%;
    width: 60px;
    height: 90%;
    opacity: 0.8;
    border: 1px solid rgb(255, 153, 0);
}

.lang :hover {
    opacity: 1;
}

a {
    color: darkblue;
    text-decoration: none;
    overflow: auto;
    border-radius: 1vw;
}

.titre {
    width: 100%;
}

main {
    margin-top: 8vh;
    padding-bottom: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    width: auto;
    height: auto;
    min-height: 80vh;
    font-family: 'Raleway', sans-serif;
}

#home {
    width: 100vw;
    height: auto;
    min-height: 75vh;
    flex-direction: column;
    align-content: space-around;
    font-family: 'Raleway', sans-serif;
    animation-name: bloom;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.aboutme {
    width: 76vw;
    height: auto;
    max-height: 60vh;
    line-height: 150%;
    overflow: auto;
    color: darkblue;
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    padding: 2vw;
    margin: 2.5vh;
}

#home p {
    color: white;
    text-shadow: 0em 0em 0.2em darkblue, 0 0 0.3em darkblue, 0em 0em 0.4em darkblue;
}

#home a {
    color: rgb(255, 153, 0);
    text-decoration: underline;
}

.aboutme img {
    height: 55vh;
    float: left;
    margin-right: 1em;
}

.mainbox {
    width: 100vw;
    height: auto;
    flex-direction: column;
    align-content: space-between;
    font-family: 'Raleway', sans-serif;
    border-radius: 1vw;
    animation-name: bloom;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.mainbox :hover {
    border-color: darkblue;
}

h1 {
    margin-top: 0.2vw;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
    text-shadow: 1px 1px rgb(0, 0, 139), -1px -1px rgb(0, 0, 139);
}

h2 {
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
}

p {
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}

.contenu {
    margin: 2.5vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: darkblue;
    background-color: white;
    height: 14vw;
    width: 80vw;
    font-weight: bold;
    text-align: center;
    border: solid 0.2vW rgb(255, 153, 0);
}

.mini {
    height: auto;
    width: 14vw;
    text-align: left;
}

.mini img {
    height: 100%;
}

.resume {
    color: darkblue;
    height: auto;
    font-size: 1.1em;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    overflow: auto;
}

.resume h2 {
    color: darkblue;
    font-weight: bold;
    text-decoration: underline 1px darkblue solid;
    margin-top: 0.4em;
    font-size: 1.5em;
}

.resume span {
    color: rgb(255, 153, 0);
    text-decoration: underline;
}

.button :hover {
    background-color: darkblue;
    color: white;
}

.boutons,
.boutonG,
.boutonD {
    width: auto;
    height: auto;
    max-height: 4.5vw;
    position: fixed;
    bottom: 4vh;
}

.boutons {
    min-height: 4.5vw;
}

.boutonG {
    left: 0vw;
    background-color: rgba(255, 153, 0, 0.6);
    border-top-right-radius: 50%;
}

.boutonD {
    right: 0vw;
    background-color: rgb(255, 153, 0);
    border-top-left-radius: 50%;
}

.citation {
    width: 100%;
    margin-top: 1em;
    color: rgb(255, 215, 0);
    text-align: center;
    text-shadow: 0em 0em 0.2em darkblue, 0 0 0.3em darkblue, 0em 0em 0.4em darkblue;
    animation-name: bloom;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

footer {
    height: 5vh;
    line-height: 5vh;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    font-family: 'Raleway';
}

footer div {
    width: auto;
}

footer p {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px darkblue;
}

@media screen and (min-width: 1024px) {
    @keyframes bloom {
        from {
            opacity: 0%;
        }
        to {
            opacity: 100%;
        }
    }
}

@media screen and (orientation: portrait) {
    .aboutme img {
        height: 40vh;
    }
    .contenu {
        width: 90vw;
        height: 18vw;
    }
    .mini {
        width: 20vw;
    }
    .contenu {
        height: 20vw;
    }
    .titre {
        margin-bottom: 1vh;
    }
    .boutonG {
        border-top-right-radius: 5vw;
    }
    .boutonD {
        border-top-left-radius: 5vw;
    }
    .boutonG,
    .boutonD {
        max-height: 8vw;
    }
}

@media screen and (orientation: portrait) and (min-height: 900px) {
    header,
    nav label,
    .lang {
        height: 6vh;
    }
    main {
        margin-top: 6vh;
    }
}

@media screen and (orientation: portrait) and (min-height: 1100px) {
    header,
    nav label,
    .lang {
        height: 5vh;
    }
    main {
        margin-top: 5vh;
    }
}

@media screen and (max-width:750px) {
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
    }
    a {
        font-size: 1em;
    }
    .titre {
        margin-top: 1vh;
    }
}

@media screen and (orientation: portrait) and (max-width:750px) {
    .aboutme img {
        height: auto;
        width: 50vw;
        margin-left: 13vw;
        margin-right: 13vw;
    }
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 1.5em;
    }
    .aboutme {
        font-size: 0.8em;
    }
    .citation {
        font-size: 0.9em;
    }
    p {
        font-size: 0.8em;
    }
    .contenu {
        font-size: 0.8em;
    }
    .boutonG {
        border-top-right-radius: 6vw;
    }
    .boutonD {
        border-top-left-radius: 6vw;
    }
    .boutons {
        min-height: 13vw;
    }
    .boutonG,
    .boutonD {
        max-height: 13vw;
    }
    footer .count {
        display: none;
    }
}

@media screen and (max-height: 450px) {
    header,
    nav label,
    .lang {
        height: 12.5vh;
    }
    main {
        margin-top: 12.5vh;
    }
    h1 {
        font-size: 1.5em;
    }
    .aboutme {
        font-size: 0.8em;
    }
    p {
        font-size: 0.8em;
    }
    .contenu {
        font-size: 0.8em;
    }
    .boutonG {
        border-top-right-radius: 3vw;
    }
    .boutonD {
        border-top-left-radius: 3vw;
    }
    .boutonG,
    .boutonD {
        max-height: 7vw;
    }
}