   nav {
       display: none;
   }
   
   main button {
       margin-bottom: 0px;
       padding: 0px;
       width: 8vw;
       height: 1vw;
       background-color: rgba(0, 0, 139, 0);
       border: none;
   }
   
   main p {
       margin: 2vh 0;
       color: white;
   }
   
   .mainbox2 {
       text-align: center;
       width: auto;
       height: auto;
       animation-name: bloom;
       animation-duration: 0.5s;
       animation-timing-function: ease-in-out;
   }
   
   .mainbox2 :hover {
       border-color: darkblue;
   }
   
   .mainbox2 img {
       height: auto;
       max-height: 55vh;
       width: auto;
       max-width: 78vw;
       border: rgb(255, 153, 0) solid 0.2vw;
       box-shadow: rgba(0, 0, 139, 0.4) 0.7vw 1vw 1.5vw;
       margin-bottom: 2vh;
   }
   
   .mainbox2 .arrows {
       border: none;
       max-width: 10vw;
   }
   
   .description {
       margin: 2vh 14vw;
       padding-top: 1em;
       padding-bottom: 1em;
       width: 70vw;
       height: auto;
       max-height: 40vh;
       background-color: white;
       color: darkblue;
       font-size: 1.2em;
       font-weight: bold;
       overflow: auto;
       line-height: 1.5em;
   }
   
   .description h2 {
       text-decoration: underline;
       color: darkblue;
   }
   
   .description a {
       color: rgb(255, 153, 0);
       text-decoration: underline;
   }
   
   .back {
       margin-top: 3vh;
       width: auto;
       height: 4vh;
   }
   
   main .back a {
       background-color: rgb(255, 153, 0);
       padding: 0.5vh;
       color: blue;
       line-height: 100%;
       font-size: 3vh;
       font-weight: bold;
       border: solid 2px darkblue;
       border-radius: 3vh;
   }
   
   .back :hover {
       background-color: darkblue;
       color: white;
   }
   
   @media screen and (orientation: portrait) {
       .description {
           font-size: 1.5em;
           margin-left: 5%;
           margin-right: 5%;
           width: auto;
       }
   }
   
   @media screen and (max-width: 450px) {
       .mainbox2 img {
           height: auto;
           max-height: 45vh;
           max-width: 75vw;
       }
       .description {
           font-size: 0.8em;
       }
       .description h2 {
           font-size: 1.5em;
       }
   }
   
   @media screen and (max-height: 500px) {
       .description {
           font-size: 0.8em;
       }
       .description h2 {
           font-size: 1.5em;
       }
       main .back a {
           font-size: 5vh;
       }
   }