#formbox {
    margin-top: 3vh;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    height: auto;
    text-align: center;
    background-color: rgba(74, 72, 235, 0);
    animation-name: bloom;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.contenu2 {
    padding: 1vw;
    height: auto;
    width: 42vw;
    font-size: 1.5em;
    color: white;
    background-color: rgb(0, 0, 139, 0.8);
    border: 1px groove rgb(255, 153, 0);
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

form {
    width: auto;
    margin-top: 1vh;
    padding: 0.5em;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.item {
    display: flex;
    width: auto;
    justify-content: center;
    margin-top: 1em;
}

form label {
    color: darkblue;
    width: 40%;
    text-decoration: underline;
}

input {
    width: 60%;
    color: darkblue;
    text-align: center;
    background-color: rgba(255, 153, 0, 0.1);
}

#validCGU input {
    width: auto;
}

#validCGU label {
    width: auto;
    margin-left: 1em;
    text-decoration: none;
}

textarea {
    width: 60%;
    height: auto;
    color: darkblue;
    text-align: center;
    background-color: rgba(255, 153, 0, 0.1);
    border: 0;
}

form a {
    color: rgb(255, 153, 0);
    text-decoration: underline;
}

button {
    background-color: darkblue;
    border: blue solid 1px;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

.coordonnees button {
    padding: 0.5em;
}

.cv button {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

form button {
    margin-top: 1em;
    padding: 0.3em;
}

.error {
    padding: 0.2em;
    color: red;
    font-weight: bold;
}

#recommandations {
    display: block;
    height: auto;
    max-height: 90vh;
    overflow: auto;
    width: 44vw;
}

.recommandation {
    height: auto;
    width: 99%;
    margin: 3vh 0;
    line-height: 100%;
    text-align: center;
    border: 1px solid rgb(255, 153, 0);
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}

.author {
    height: auto;
    color: white;
    background-color: rgb(0, 0, 139, 0.8);
    font-size: 0.8em;
    font-style: italic;
    padding: 0.5em 0;
    border-top: 1px groove rgba(255, 153, 0, 0.8);
}

.content {
    height: auto;
    min-height: 5vh;
    padding: 0.6em;
    color: darkblue;
    font-size: 1em;
    font-weight: bold;
    background-color: white;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}

.coordonnees {
    width: 44vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(0, 0, 139, 0.8);
    border: 1px groove rgb(255, 153, 0);
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

.coordonnee {
    width: 90%;
    height: auto;
    margin: 5%;
    max-height: 30%;
    padding: 1em 0;
    font-weight: bold;
    background-color: white;
    color: darkblue;
}

#title {
    background-color: rgba(0, 0, 139, 0);
    margin: 0 5%;
}

#title h2 {
    color: white;
}

#cv {
    margin: 0 5%;
    max-height: 20%;
    background-color: rgba(255, 255, 255, 0);
    font-weight: bolder;
}

.coordonnee a {
    color: rgb(255, 153, 0)
}

#formbox button {
    border-color: rgb(255, 153, 0);
}

#formbox button :hover {
    border-color: blue;
}


/*adaptation pour le mode portrait*/

@media screen and (orientation: portrait) {
    #recommandations {
        width: auto;
        max-height: 50vh;
        align-items: center;
        margin: 0 1vw;
    }
    #formbox {
        height: auto;
        display: block;
    }
    .contenu2 {
        width: auto;
        margin: 5vh 1vw 0;
        font-size: 1.8em;
        height: auto;
        min-height: 30vh;
    }
    .coordonnees {
        width: auto;
        margin: 0 1vw;
        height: auto;
    }
    .cv button {
        padding: 1em;
    }
}


/*adaptation pour les mobiles en mode paysage*/

@media screen and (max-height: 500px) {
    main {
        padding-bottom: 8vh;
    }
    #recommandations {
        font-size: 0.8em;
        line-height: 125%;
    }
    .coordonnee {
        font-size: 0.7em;
    }
    button {
        font-size: 1em;
    }
    .contenu2 {
        font-size: 1em;
    }
}

@media screen and (max-width: 650px) {
    main {
        height: auto;
        min-height: 90vh;
    }
    .coordonnees {
        font-size: 1em;
    }
    .contenu2 {
        font-size: 1em;
    }
}

@media screen and (max-width: 390px) {
    .coordonnees {
        font-size: 0.8em;
    }
}

@media screen and (max-height: 350px) {
    .contenu2 {
        font-size: 0.8em;
    }
}