#mentions {
    height: 60vh;
    width: 95%;
    text-align: center;
    overflow-y: scroll;
    background-color: white;
    color: darkblue;
    box-shadow: rgba(0, 0, 139, 0.3) 0 0 5vw;
    animation-name: scrollup;
    animation-duration: 0.5s;
}

.titre,
.citation {
    animation-name: bloom;
    animation-duration: 2s;
}

@keyframes scrollup {
    from {
        margin-top: 50%;
    }
    to {
        margin-top: 0%;
    }
}

p {
    text-align: left;
}

p b {
    text-decoration: underline solid;
}

h2 {
    text-decoration: underline solid;
}

ul {
    text-align: left;
    margin-left: 3vw;
}

li b {
    text-decoration: underline solid;
}

footer h2 {
    text-decoration: none;
}

span {
    text-align: center;
}

.citation {
    text-decoration: none;
}

@media screen and (max-width: 420px) {
    ul {
        font-size: 0.8em;
        margin-left: 5vw;
    }
    h2 {
        font-size: 1.2em;
    }
    .citation {
        font-size: 0.8em;
    }
}

@media screen and (max-height: 450px) {
    ul {
        font-size: 0.8em;
    }
    h2 {
        font-size: 1.2em;
    }
    .citation {
        font-size: 0.8em;
    }
}