nav {
    width: 50vw;
    position: fixed;
    top: 0vh;
    left: 0vw;
}

.conteneur-nav {
    position: fixed;
    top: 0vh;
    width: 50vw;
    height: 8vh;
}

.conteneur-nav :hover {
    background-color: darkblue;
}

nav input[type=checkbox] {
    display: none;
}

nav label {
    display: inline-block;
    width: 50px;
    height: 100%;
    text-align: center;
    background-color: rgba(255, 153, 0, 0.9);
    border-bottom: 0.2vw solid darkblue;
    border-right: 0.2vw solid darkblue;
    border-bottom-right-radius: 2vw;
}

nav label img {
    height: 90%;
    background-color: rgba(255, 217, 0, 0);
    border-radius: 0%;
    border-bottom-right-radius: 1.5vw;
}

nav ul {
    display: none;
    width: 5vw;
    list-style-type: none;
    font-size: 1.5em;
}

nav ul :hover {
    background-color: rgba(0, 0, 139, 0);
}

nav input[type=checkbox]:checked+ul {
    display: flex;
    flex-flow: column wrap;
}

nav ul li {
    flex: 1 1 auto;
    text-align: center;
    width: 15vw;
    background-color: rgba(255, 153, 0, 0.8);
    border-top: darkblue solid 0.1vw;
    border-top-right-radius: 1.5vw;
    border-bottom-right-radius: 1.5vw;
    box-shadow: rgba(0, 0, 139) 0.2vw 0.2vw 2vw;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.3em 0px;
}


@media screen and (min-height: 700px) {
    nav label {
        width: 70px;
    }
}

@media screen and (max-width: 1100px) {
    nav ul li {
        width: 18vw
    }
}

@media screen and (max-width:875px) {
    nav ul li {
        width: 25vw;
    }
}

@media screen and (max-height: 750px) {
    nav ul li {
        width: 20vw;
    }
}

@media screen and (max-width: 420px) {
    nav ul li {
        width: 35vw;
        font-size: 0.7em;
    }
}

@media screen and (max-height: 420px) {
    nav label {
        height: 10vh;
    }
    nav ul li {
        font-size: 0.8em;
        width: 25vw;
    }
}

@media screen and (max-height: 350px) {
    nav ul li {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 350px) {
    nav ul li {
        width: 40vw;
    }
}