nav {
    display: none;
}

main button {
    margin-bottom: 0px;
    padding: 0px;
    width: 8vw;
    height: 1vw;
    background-color: rgba(0, 0, 139, 0);
    border: none;
}

main h1 {
    text-decoration: underline;
}

.mainbox2 {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: auto;
    height: auto;
    animation-name: bloom;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.mainbox2 :hover {
    border-color: darkblue;
}

.mainbox2 img {
    height: auto;
    max-height: 40vh;
    width: auto;
    max-width: 60vw;
    border: rgb(255, 153, 0) solid 0.2vw;
    box-shadow: rgba(0, 0, 139, 0.4) 0.7vw 1vw 1.5vw;
    margin: 5vh 2vw;
}

.arrows {
    margin: 20vh 0%;
    border: none;
    max-width: 10vw;
}

.description {
    margin: 2vh 0vw;
    padding: 1em;
    width: 90vw;
    height: auto;
    max-height: 60vh;
    background-color: white;
    color: darkblue;
    font-size: 1.2em;
    font-weight: bold;
    overflow: auto;
    line-height: 1.5em;
}

.description h2 {
    text-decoration: underline;
    color: darkblue;
}

.description a {
    color: rgb(255, 153, 0);
    text-decoration: underline;
}

#navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 20vh;
}

.back {
    display: flex;
    margin: 5vh 30vw;
    width: auto;
    height: auto;
    align-items: center;
}

main .back a {
    background-color: rgb(255, 153, 0);
    padding: 1vh;
    color: blue;
    line-height: 100%;
    font-size: 4vh;
    font-weight: bold;
    border: solid 2px darkblue;
    border-radius: 3vh;
}

.back :hover {
    background-color: darkblue;
    color: white;
}

@media screen and (orientation: portrait) {
    .description {
        font-size: 1.5em;
        margin-left: 5%;
        margin-right: 5%;
        width: auto;
    }
    .back {
        margin: 5vh 20vw;
    }
}

@media screen and (max-width: 450px) {
    .mainbox2 img {
        height: auto;
        max-height: 45vh;
        max-width: 75vw;
    }
    .description {
        font-size: 0.8em;
    }
    .description h2 {
        font-size: 1.5em;
    }
    .arrows {
        max-width: 15vw;
    }
    main .back a {
        font-size: 3vh;
    }
}

@media screen and (max-height: 500px) {
    .description {
        font-size: 0.8em;
    }
    .description h2 {
        font-size: 1.5em;
    }
    main .back a {
        font-size: 5vh;
    }
}