#avatars {
    background-color: rgba(255, 255, 255, 0.5);
}


/* cache les boutons radio des avatars */

input[name="avatar"] {
    display: none;
}

.avatar-radio {
    border: 3px solid transparent;
    /* pour pas que ça bouge */
    opacity: 0.8;
    width: 60px;
}

.avatar-radio:hover {
    opacity: 1.0;
}


/* je cible les img d'avatar étant à côté d'un input coché ! */

input[name="avatar"]:checked+.avatar-radio {
    border: 3px solid tomato;
    opacity: 1.0;
}

* {
    color: darkblue;
}

body {
    background-image: url(../img/blur-calligraphy-close-up-51159.jpg);
    background-attachment: fixed;
    background-size: cover;
}

header {
    margin-top: 0vh;
    margin-bottom: 0vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    width: 100%;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    border-bottom: 1px solid darkblue;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    font-size: 1.2em;
    text-shadow: darkblue 0.03em 0.03em;
    background-color: rgba(255, 245, 160, 0.3);
    box-shadow: rgba(255, 245, 160, 0.3) 0 1vw 1vw;
}

main {
    margin-top: 0vw;
    padding: 0.5vw;
    width: 100%;
    text-shadow: #007bff 0.03em 0.03em;
    background-color: rgba(255, 245, 160, 0.3);
    box-shadow: rgba(255, 245, 160, 0.3) 1vw 0vw 2vw, rgba(255, 245, 160, 0.3) -1vw 0vw 2vw;
}

h2 {
    margin-top: 2vh;
}

footer {
    margin: 4vw;
    margin-bottom: 1vw;
    text-align: right;
}

.search {
    width: 25vw;
    text-align: center;
}

.search form {
    margin: 0vw;
}

.search input {
    margin: 0vw;
}

.search button {
    margin: 0vw;
}

.user {
    width: 20vw;
    margin-left: 2vw;
    margin-right: 1vw;
}

.avatar {
    width: 3vw;
}

.titre {
    width: 90vw;
    padding: 1em;
    text-align: left;
}

.gallery {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.miniature {
    max-width: 19vw;
    max-height: 22vh;
}

.minipost {
    text-align: center;
    width: 20vw;
    margin: 1.2vw;
    margin-left: 0vw;
    border: 1px solid darkblue;
    background-color: rgba(255, 255, 255, 0.75);
}

.minipost p {
    font-size: 1.5rem;
}

.gallery .btn {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

form {
    margin: 5vw;
}

.details {
    text-align: center;
}

.details h1 {
    margin-bottom: 0vw;
}

.details p {
    width: 70vw;
    margin-left: 10vw;
    text-align: right;
    margin-bottom: 1vh;
}

.post {
    max-width: 70vw;
    max-height: 70vh;
    margin-left: 10vw;
    overflow: auto;
    margin-bottom: 5vh;
    padding: 1em;
    text-align: justify;
    background-color: white;
    border: 1px solid darkblue;
}

.post img {
    max-width: 40vw;
    max-height: 40vh;
    float: right;
    margin-left: 1em;
    border: 1px solid darkblue;
}

.post .article {
    max-width: 45vw;
    max-height: 50vh;
    overflow: auto;
    padding: 1em;
    text-align: justify;
}

.author {
    font-size: 1.5em;
}

.date {
    margin-bottom: 4vh;
}

.comments {
    margin: 2vh;
    text-align: center;
    font-size: 1em;
}

.comments p {
    font-size: 1em;
    font-style: italic;
}

.comments form {
    align-content: center;
    margin: 4vh;
}

.comments form label {
    margin: 0vh;
}

.comments form textarea {
    width: 60vw;
    margin-bottom: 2vh;
}

.comments .comment {
    font-size: 1.2em;
    width: 40vw;
    margin-left: 25vw;
    background-color: white;
    border: 1px solid darkblue;
}

.followeds {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid darkblue;
    margin-top: 3vh;
    margin-bottom: 10vh;
}

.followed {
    font-size: 1.5em;
}